header{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Powered_Ai{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.Powered_Ai_Text{
    padding-left: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 600;
}

.Create_Post_Link{
    margin-right: 20px;
    background-color: mediumpurple;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: small;
    font-weight: 500;
}

@media only screen and (max-width:400px) {
    .Powered_Ai_Text{
        font-size: small;
        font-weight: 600;
    }

    .Create_Post_Link{
        padding: 5px 10px;
        font-size: x-small;
    }
}